/* TYPOGRAPHY */

@import url(https://fonts.googleapis.com/css?family=Space+Mono);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);



body {
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height:24px;
}

p {
	padding-top: 8px;
  padding-bottom: 8px;
}

a:link {
    color: #00ACC1;
    font-family: 'Space Mono', sans-serif;
    text-decoration: none;
    font-style: italic;
}

a:visited {
    color:#00ACC1;
    /*text-decoration: underline;*/
}

a:hover {
    border-bottom: 1px solid #ccc;
    /*color: #01579B;*/
    background-color: #E3F2FD;
}

h1, h2, h3, h4, dt, th {
	font-family: 'Space Mono', sans-serif;
	line-height: 1.2em;
	font-weight: 300;
  /*text-transform: uppercase;*/
}

h1  {
  font-style: italic;
	font-size: 72px;
}

h2 {
	font-size: 64px;
}

h3 {
	font-size: 36px;
}

h4 {
  font-size: 22px;
  text-transform: none;
  padding-bottom: 10px;
  /*font-weight: bold;*/
}

h5 {
	font-size: 14px;
  line-height: 1.6em;
  text-transform: none;
  padding-bottom: 10px;
	/*font-weight: bold;*/
}

p {
    font-weight: 300;
    line-height: 2em;
    margin-bottom: 1em;
    /*color: #666;*/
}

em {
    font-weight: bold;
    font-weight:normal;
    font-style:normal;
}

strong em {
    font-weight:700;
    font-style:italic;
}

.about {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .08em;
    /*font-style: italic;*/
    /*font-size: 13px;*/
    /*font-weight: 200;*/
    text-align: center;
    padding: 0px 15% 0px 15%;
    margin: 30px 0;
    color: #9E9E9E;
}

.description {
    font-family: 'Space Mono', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 2em;
    margin: 30px 0px 0px 0px;
    color: #333333;
}

.subinfo {
    margin: 30px 0px 50px 0px;
}

.subline {
    font-size: 16px;
    line-height: 1.5em;
    color: #666666;
    margin: 0px 0px 6px 0px;
    font-weight: bold;
}

.date {
    font-size: 12px;
    color: #cccccc;
    font-weight: normal;
}

a downloadlink {
    color: 4285F4;
    font-size: 14px;
    font-weight: normal;
}

.note {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.6em;
    color: #999;
}

.adlogo {
    font-weight: 100;
    font-size: 2.4em;
    letter-spacing: .1em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

ol {
    color:#757575;
    margin-left: 1.6em;
    margin-bottom: 1.6em;
    padding: 0;
}

ul {
    color:#757575;
    margin-left: 1.6em;
    margin-bottom: 1.6em;
    padding: 0;
}

li {
}

li.group {
	font-weight: bold;
	/*font-family: 'Roboto Condensed', 'Roboto', sans-serif;*/
}

.nav .group li {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 14px;
	text-transform: capitalize;
	color: #555;
}
