/* TYPOGRAPHY */

@import url(https://fonts.googleapis.com/css?family=Roboto:100,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);



body {
	color: #333;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height:24px;
}

a:link, a:visited {
    color: #8426cb;
    /*font-family: 'Space Mono', sans-serif;*/
    text-decoration: none;
    font-style: italic;
}

.band-video a:link, .band-video a:visited {
	color: #e2bbff;
}

a:hover, .band-video a:hover {
    color: #563171;
    background-color: #E3F2FD;
}

h1, h2, h3, h4, dt, th {
	font-family: 'Roboto', sans-serif;
	line-height: 1.2em;
	font-weight: 300;
  /*text-transform: uppercase;*/
}

h1  {
  /*font-style: italic;*/
	font-size: 68px;
	font-weight: 100;
	color: #535252;
}

h2 {
	font-size: 64px;
}

h3 {
	font-size: 22px;
	letter-spacing: 0.87px;
	padding-bottom: 10px;
}

h4 {
  font-size: 18px;
}

h5 {
	font-size: 14px;
  line-height: 1.6em;
  text-transform: none;
  padding-bottom: 10px;
	/*font-weight: bold;*/
}

p {
    line-height: 1.6em;
    margin-bottom: 1em;
    /*color: #666;*/
}

em {
    font-weight: bold;
    font-weight:normal;
    font-style:normal;
}

strong em {
    font-weight:700;
    font-style:italic;
}

.about {
    font-family: 'Roboto', sans-serif;
    letter-spacing: .08em;
    /*font-style: italic;*/
    /*font-size: 13px;*/
    /*font-weight: 200;*/
    text-align: center;
    /* padding: 0px 10% 0px 10%; */
    margin: 20px auto;
	max-width: 660px;
    /*color: #6a00b9;*/
}

h3.about {
	margin-top: 50px;
}

.description {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 2em;
    margin: 30px 0px 0px 0px;
    color: #333333;
}

.subinfo {
    margin: 30px 0px 50px 0px;
}

.subline {
    font-size: 16px;
    line-height: 1.5em;
    color: #666666;
    margin: 0px 0px 6px 0px;
    font-weight: bold;
}

.date {
    font-size: 12px;
    color: #cccccc;
    font-weight: normal;
}

a downloadlink {
    color: 4285F4;
    font-size: 14px;
    font-weight: normal;
}

.note {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.6em;
    color: #999;
}

.adlogo {
    font-weight: 100;
    font-size: 2.4em;
    letter-spacing: .1em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

ol {
    margin-left: 1.6em;
    margin-bottom: 1.6em;
    padding: 0;
}

ul {
    /*color:#757575;*/
    margin-left: 1.6em;
    margin-bottom: 1.6em;
    padding: 0;
}

li {
}

li.group {
	font-weight: bold;
	/*font-family: 'Roboto Condensed', 'Roboto', sans-serif;*/
}

.nav .group li {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 14px;
	text-transform: capitalize;
	color: #555;
}

a.btn {
	background-color: #9653CA;
	border-color: #9653CA;
	border-radius: 4px;
	color: #fff;
	text-transform: uppercase;
	font-style: normal;
	padding: 14px 30px;
}

a:hover.btn {
	background-color: #8f33d6;
	border-color: #8f33d6;
}
