@font-face {
	font-family: 'Roboto';
	src: local('Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto-LightItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
body {
	font-family: 'Roboto', monospace;
	font-size: 11px;
	/* font-weight: 300; */
	color: #919191;
	background-color: #fefefe;
	overflow: hidden;
	-webkit-user-select: none;
	cursor: pointer;
	/* padding: 8px; */
}

button {
	border-radius: 5px;
	background: white;
	color: black;
	border: none;
	padding: 8px 15px;
	margin: 0 5px;
	box-shadow: inset 0 0 0 1px black;
	outline: none;
}

#create {
	box-shadow: none;
	background: #18A0FB;
	color: white;
}

input {
	border: none;
	outline: none;
	padding: 8px;
}

input:hover {
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

button:focus {
	box-shadow: inset 0 0 0 2px #18A0FB;
}

#create:focus {
	box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3);
}

input:focus {
	box-shadow: inset 0 0 0 2px #18A0FB;
}

.button {
	border: 1px solid rgba(0, 0, 0, 0);
	background-color: #f7f7f7;
	box-sizing: border-box;
	display: block;
	margin: 4px 0;
	width: 100%;
	padding-top: 7px;
	font-size: 12px;
	text-align: center;
	align-content: center;
	font-weight: 300;
}

.button svg {
	pointer-events: none;
	width: 16px;
	height: 16px;
	display: inline;
	fill: #0288d1;
	/* float: left; */
	margin: 2px;
	margin-top: -3px;
}

.button:hover {
	border: solid 1px #eee;
	/* background-color: rgba(0, 0, 0, 0.07); */
}

.button.big {
	height: 74px;
	padding: 16px 0;
	margin-top: 8px;
}

.button.big svg {
	width: 32px;
	height: 32px;
}

.button.text {
	height: 30px;
	padding: 10px 0;
}

.button.horiz {
	color: #aaa;
	font-size: 10px;
	display: block;
	float: left;
	width: 32%;
	/* height: 80px; */
	padding: 16px 0 8px 0;
	margin-left: 2px;
}

.footer {
  z-index: 1;
  bottom: 0;
  position: absolute;
  background-color: #0377BC;
  color: #ececec;
  width: 100vw;
  margin-left: -8px;
  text-align: center;
  padding: 4px 0;
  line-height: 1.15em;
}
.lift-enter-active,
.lift-leave-active {
  transition: bottom .5s;
}
.lift-enter,
.lift-leave-to {
  bottom: -48px;
}