body {
	font-family: system-ui, sans-serif;
	font-weight: 300;
    color: var(--figma-color-text);
    font-size: 11px;
	background-color: var(--figma-color-bg);
	overflow: hidden;
	-webkit-user-select: none;
    user-select: none;
	cursor: pointer;
}

.help {
    float: right;
    fill: var(--figma-color-text-secondary);
}

.group {
    margin-top: 18px;
}

input {
	border: none;
	outline: none;
	padding: 8px;
}

.title {
    color: var(--figma-color-text-secondary);
}

.button {
	background-color: var(--figma-color-bg-secondary);
	box-sizing: border-box;
    margin: 6px 0;
    padding: 8px;
    border-radius: 3px;
    display: flex;
    justify-items: flex-start;
}

.button > * {
    margin: auto 0;
}

.button.thinking {
    background: linear-gradient(60deg, var(--figma-color-bg-tertiary) 30%, var(--figma-color-bg-disabled) 37%, var(--figma-color-bg-tertiary) 70%) 0% 0% / 300% 300%;
	animation: animatedGradient 1.2s cubic-bezier(0.2, 0, 0.4, 0.8) 0s infinite alternate;
    background-size: 300%;
}

.button:hover {
    background-color: var(--figma-color-bg-tertiary);
}

@keyframes animatedGradient { 
	0% { 
		background-position: -10% 50%;
	}
	100% { 
        background-position: 85% 50%;
	}
}

.button svg {
	pointer-events: none;
	width: 12px;
	height: 12px;
	display: inline;
	fill: var(--figma-color-text);
    margin-right: 6px;
}

.button span {
    background-color: var(--figma-color-text);
}

.version {
    padding-top: 2px;
    color: var(--figma-color-text-secondary);
}

.footer {
  z-index: 1;
  bottom: 0;
  position: absolute;
  background-color: var(--figma-color-text);
  color: var(--figma-color-bg);
  width: 100vw;
  margin-left: -8px;
  text-align: center;
  padding: 4px 0;
  line-height: 1.15em;
}

.lift-enter-active,
.lift-leave-active {
  transition: bottom .5s;
}

.lift-enter,
.lift-leave-to {
  bottom: -48px;
}