<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/style.css"/>

  <script src="../js/libs/promise.min.js"></script>
  <script src="../js/libs/vue.js"></script>
  <script src="../js/libs/CSInterface.js"></script>

  <script type="text/javascript">window.module = undefined</script>
  <title>AEUX</title>
</head>

<body>


<div id="app" v-bind:style="{'background-color': bgColor}" v-bind:class="{'drop-highlight': dropHighlight}" v-cloak>
    <transition name="lift">
        <div class="footer" v-show="footerMessage">
            <pre>{{footerMessage}}</pre>
        </div><img src="" alt="" sizes="" srcset="">
    </transition>

    <transition name="fade">
        <div class="help-overlay" v-show="showHelp">

            <div class="group-heading">HELP</div>
            <div class="help" @click="toggleHelp('open')">
                <div class="over"></div>
                <svg width="12" height="12" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
            </div>

            <div class="content">
                <div class="group">
                    Version: {{versionNumber}}
                </div>
                <div class="group">
                    <div class="title box">
                        Build Comp

                        <div class="badge">23</div>
                    </div>
                    <div class="text">
                        Creates available layers
                    </div>

                    <div class="icon">
                        <svg viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/><path fill="none" d="M0 0h24v24H0z"/></svg>
                    </div>
                    <div class="title">
                        New Comp
                    </div>
                    <div class="text">
                        Creates a new comp sized to the original artboard/frame
                    </div>

                    <div class="icon">
                        <svg viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z"/></svg>
                    </div>
                    <div class="title">
                        Current
                    </div>
                    <div class="text">
                        Builds layers to the open comp with layers sized to the width of comp
                    </div>

                    <div class="icon">
                        <svg viewBox="0 0 24 24">
                            <path d="M16.5 6v11.5c0 2.21-1.79 4-4 4s-4-1.79-4-4V5c0-1.38 1.12-2.5 2.5-2.5s2.5 1.12 2.5 2.5v10.5c0 .55-.45 1-1 1s-1-.45-1-1V6H10v9.5c0 1.38 1.12 2.5 2.5 2.5s2.5-1.12 2.5-2.5V5c0-2.21-1.79-4-4-4S7 2.79 7 5v12.5c0 3.04 2.46 5.5 5.5 5.5s5.5-2.46 5.5-5.5V6h-1.5z"/>
                        </svg>
                    </div>
                    <div class="title">
                        Import
                    </div>
                    <div class="text">
                        Navigate to an AEUX .json file or drop directly into the panel
                    </div>

                    <div class="icon box">
                        3x

                    </div>
                    <div class="title">
                        Comp size multiplier
                    </div>
                    <div class="text">
                        Sets the pixel density of the visual design in real pixel values when creating new comps
                    </div>


                    <hr>


                    <div class="icon">
                        <svg viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V5h14v14zM17.99 9l-1.41-1.42-6.59 6.59-2.58-2.57-1.42 1.41 4 3.99z"/></svg>
                    </div>
                    <div class="title">
                        Detect parametric shapes
                    </div>
                    <div class="text">
                        Ellipses and rectanges will be drawn when possible vs regular paths
                    </div>

                    <div class="icon">
                        <svg viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V5h14v14zM17.99 9l-1.41-1.42-6.59 6.59-2.58-2.57-1.42 1.41 4 3.99z"/></svg>
                    </div>
                    <div class="title">
                        Precomp groups
                    </div>
                    <div class="text">
                        Nest grouped layers in precomps vs everything in main comp
                    </div>

                    <div class="icon">
                        <svg viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V5h14v14zM17.99 9l-1.41-1.42-6.59 6.59-2.58-2.57-1.42 1.41 4 3.99z"/></svg>
                    </div>
                    <div class="title">
                        Auto build artboards
                    </div>
                    <div class="text">
                        (Sketch only) Builds layers as soon as they are sent to AEUX
                    </div>


                    <hr>


                    <div class="icon">
                        <svg viewBox="0 0 24 24"><path d="M5 15H3v4c0 1.1.9 2 2 2h4v-2H5v-4zM5 5h4V3H5c-1.1 0-2 .9-2 2v4h2V5zm14-2h-4v2h4v4h2V5c0-1.1-.9-2-2-2zm0 16h-4v2h4c1.1 0 2-.9 2-2v-4h-2v4zM12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 6c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"/></svg>
                    </div>
                    <div class="title">
                        Precomp
                    </div>
                    <div class="text">
                        Selected group parents and children will be precomped and sized to the top-most parent. Non-group layers with will be converted to precomps sized to the current comp.
                    </div>


                    <div class="icon">
                        <svg viewBox="0 0 24 24" width="24"><clipPath id="a"><path d="m0 0h24v24h-24z"/></clipPath><path clip-path="url(#a)" d="m15 3 2.3 2.3-2.89 2.87 1.42 1.42 2.87-2.89 2.3 2.3v-6zm-12 6 2.3-2.3 2.87 2.89 1.42-1.42-2.89-2.87 2.3-2.3h-6zm6 12-2.3-2.3 2.89-2.87-1.42-1.42-2.87 2.89-2.3-2.3v6zm12-6-2.3 2.3-2.87-2.89-1.42 1.42 2.89 2.87-2.3 2.3h6z"/><path clip-path="url(#a)" d="m0 0h24v24h-24z" fill="none"/></svg>
                    </div>
                    <div class="title">
                        Un-precomp
                    </div>
                    <div class="text">
                        Selected precomps will be converted to layers in the current comp
                    </div>


                    <div class="icon">
                        <svg viewBox="0 0 24 24"><path d="M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7zM2 4.27l2.28 2.28.46.46C3.08 8.3 1.78 10.02 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3 2 4.27zM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2zm4.31-.78l3.15 3.15.02-.16c0-1.66-1.34-3-3-3l-.17.01z"/></svg>
                    </div>
                    <div class="title">
                        Toggle guide layer visibility
                    </div>
                    <div class="text">
                        Show/hide group layers comp-wide to make interaction easier
                    </div>


                    <div class="icon">
                        <svg viewBox="0 0 24 24"><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/></svg>
                    </div>
                    <div class="title">
                        Delete group layers
                    </div>
                    <div class="text">
                        Declutter your comp if you don't use group layers
                    </div>
                </div>


                <div class="group">
                    <div class="title">
                        Sketch
                    </div>
                    <div class="text">
                        Layers are transferred to this AEUX panel by storing layer data in a shared folder. Layer data may also exported as a .json file and imported.
                        Images will be saved to disk and imported.

                        <div class="func-button" @click="openAdminFolder()"><span class="icon">
                            <svg width="24" height="24" viewBox="0 0 24 24">
                                <path d="M0 0h24v24H0z" fill="none"/>
                                <path d="M20 6h-8l-2-2H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 12H4V8h16v10z"/>
                            </svg>
                        </span>Open admin folder
                        </div>
                    </div>
                </div>

                <div class="group">
                    <!-- <div class="icon">
                        <svg viewBox="0 0 24 46.25"><g fill-rule="evenodd"><path d="M6.585 11.293c-3.052 0-5.549-2.497-5.549-5.549 0-3.05 2.497-5.548 5.55-5.548h11.052c3.051 0 5.548 2.497 5.548 5.548 0 3.052-2.497 5.55-5.548 5.55H6.585zM6.438 23.996h5.65v-11.1h-5.65a5.532 5.532 0 0 0-3.917 1.63 5.537 5.537 0 0 0-1.63 3.923c0 3.05 2.496 5.547 5.547 5.547M18.176 13.01a5.55 5.55 0 1 0 0 11.098 5.55 5.55 0 0 0 0-11.099M12.078 25.578H6.33v.012a5.543 5.543 0 0 0-5.338 5.538 5.545 5.545 0 1 0 11.083.282h.003v-.064c.003-.073.01-.145.01-.218 0-.075-.007-.146-.01-.22v-5.33z"/></g></svg>
                    </div> -->
                    <div class="title">
                        Figma
                    </div>
                    <div class="text">
                        Layers are converted and downloaded as a .json file. To build layers, import by clicking or dropping file on the AEUX panel.
                        Images will be saved to disk and imported.

                        <div class="func-button full-width" @click="openFigmaLink()"><span class="icon">
                            <svg width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"/></svg>
                        </span>Launch Figma converter
                        </div>
                    </div>
                </div>


                <div class="group">
                    <div class="link" @click="openDocLink()">
                        Need more help?
                    </div>
                </div>

            </div>

        </div>
    </transition>

    <div class="content">
        <!-- <div class="tab-build" v-show=" prefs.tab == 'build' "> -->

            <div class="build-source">
                <div class="build-button" class="message" v-show="!prefs.artboard">Push layers from Sketch or drop an AEUX.json file</div>
                <div class="build-button" v-if="prefs.artboard" @click="readFileAndBuildLayers()">
                    <span class="badge" v-bind:class="{new: newLayers}">{{ prefs.artboard.layerCount }}</span>
                    <div class="build-comp">Build Comp</div>
                    <div class="artboard-name">{{ prefs.artboard.name }}</div>
                </div>

                <div class="row">
                    <div class="button-group">
                        <div class="button" v-bind:class="{selected: prefs.newComp}" @click="setPref('newComp', true)"><span class="icon">
                            <svg width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/><path fill="none" d="M0 0h24v24H0z"/></svg>
                            </span>New Comp
                        </div><div class="button" v-bind:class="{selected: !prefs.newComp}" @click="setPref('newComp', false)"><span class="icon">
                            <svg width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z"/></svg>
                            </span>Current
                        </div>
                    </div>
                    <div class="button import" @click="openFile()"><span class="icon">
                        <svg width="16" height="16" viewBox="0 0 24 24">
                            <path d="M16.5 6v11.5c0 2.21-1.79 4-4 4s-4-1.79-4-4V5c0-1.38 1.12-2.5 2.5-2.5s2.5 1.12 2.5 2.5v10.5c0 .55-.45 1-1 1s-1-.45-1-1V6H10v9.5c0 1.38 1.12 2.5 2.5 2.5s2.5-1.12 2.5-2.5V5c0-2.21-1.79-4-4-4S7 2.79 7 5v12.5c0 3.04 2.46 5.5 5.5 5.5s5.5-2.46 5.5-5.5V6h-1.5z"/>
                        </svg>
                    </div>
                </div>


                <div class="row">
                    <div class="option" v-show="prefs.newComp">
                        <div class="dropup">
                            <button class="dropbtn">{{ prefs.compScale }}x</button>
                            <div class="dropup-content">
                                <a v-for="option in compScaleOptions" @click="setPref('compScale', option.value)"><span v-show="option.value == prefs.compScale"></span>{{ option.text }}</a>
                            </div>
                        </div>
                        Comp size multiplier
                    </div>

                    <!-- <div class="help" @click="toggleHelp('pushJSON')">
                        <div class="over"></div>
                        <svg width="12" height="12" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z"/></svg>
                    </div> -->
                </div>

            </div>


            <div class="fold-group">
                <div class="group-heading" @click="fold('options')">
                    Options
                    <div class="fold-icon" v-bind:class="{flip : !prefs.expand.options}">
                        <svg width="18" height="18" viewBox="0 0 24 24"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                    </div>
                </div>

                <transition name="fold">
                    <div class="fold-content" v-show="prefs.expand.options">
                        <div class="option">
                            <input type="checkbox" class="option-checkbox" id="parametrics" v-model="prefs.parametrics" @click="savePrefs()">
                            <label for="parametrics">Detect parametric shapes</label>
                        </div>
                        <div class="option">
                            <input type="checkbox" class="option-checkbox" id="precompGroups" v-model="prefs.precompGroups" @click="savePrefs()">
                            <label for="precompGroups">Precomp groups</label>
                        </div>
                        <div class="option">
                            <input type="checkbox" class="option-checkbox" id="autoBuild" v-model="prefs.autoBuild" @click="savePrefs()">
                            <label for="autoBuild">Auto build artboards</label>
                        </div>
                    </div>
                </transition>
            </div>



            <div class="fold-group">
                <div class="group-heading" @click="fold('groups')">
                    Groups
                    <div class="fold-icon" v-bind:class="{flip : !prefs.expand.groups}">
                        <svg width="18" height="18" viewBox="0 0 24 24"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                    </div>
                </div>

                <transition name="fold">
                    <div class="fold-content" v-show="prefs.expand.groups">
                        <div class="func-button full-width" @click="aeCall('groupToPrecomp')"><span class="icon">
                            <svg viewBox="0 0 24 24">
                                <path d="M5 15H3v4c0 1.1.9 2 2 2h4v-2H5v-4zM5 5h4V3H5c-1.1 0-2 .9-2 2v4h2V5zm14-2h-4v2h4v4h2V5c0-1.1-.9-2-2-2zm0 16h-4v2h4c1.1 0 2-.9 2-2v-4h-2v4zM12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 6c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"/>
                            </svg>
                        </span>Precomp
                        </div>

                        <div class="func-button full-width" @click="aeCall('precompToLayers')"><span class="icon">
                            <svg viewBox="0 0 24 24" width="24"><clipPath id="a"><path d="m0 0h24v24h-24z"/></clipPath><path clip-path="url(#a)" d="m15 3 2.3 2.3-2.89 2.87 1.42 1.42 2.87-2.89 2.3 2.3v-6zm-12 6 2.3-2.3 2.87 2.89 1.42-1.42-2.89-2.87 2.3-2.3h-6zm6 12-2.3-2.3 2.89-2.87-1.42-1.42-2.87 2.89-2.3-2.3v6zm12-6-2.3 2.3-2.87-2.89-1.42 1.42 2.89 2.87-2.3 2.3h6z"/><path clip-path="url(#a)" d="m0 0h24v24h-24z" fill="none"/></svg>
                        </span>Un-Precomp
                        </div>

                        <div class="func-button full-width" @click="aeCall('toggleGroupVisibility')"><span class="icon">
                            <svg viewBox="0 0 24 24">
                                <path d="M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7zM2 4.27l2.28 2.28.46.46C3.08 8.3 1.78 10.02 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3 2 4.27zM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2zm4.31-.78l3.15 3.15.02-.16c0-1.66-1.34-3-3-3l-.17.01z"/>
                            </svg>
                        </span>Toggle guide layer visibility
                        </div>

                        <div class="func-button full-width" @click="aeCall('deleteGroupLayers')"><span class="icon">
                            <svg viewBox="0 0 24 24">
                                <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
                            </svg>
                            </span>Delete group layers
                        </div>
                    </div>
                </transition>
            </div>



        <!-- </div> -->
    </div>

</div>


<script src="../js/app.js"></script>
</body>
</html>
